* {
  box-sizing: border-box;
}
/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light background color */
  padding: 20px; /* Padding around content */
  margin: 0; /* Remove default margin */
  color: #333; /* Dark text color */
}

/* Navbar styles */
.navbar {
  position: fixed;
  background-color: #ffffff; /* White background */
  width: 100%;
  z-index: 1030;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.custom-navbar .navbar-brand {
  color: #000; /* or any other dark color you prefer */
}

/* Custom style for the logout button */
.logout-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Changed to green */
  color: #ffffff; /* Changed to white */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.logout-button:focus {
  outline: none; /* Remove focus outline */
}

/* Container styles */
.container {
  margin-top: 70px; /* Adjusted margin for navbar */
}

/* Card styles */
.card {
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensure content doesn't overflow */
  margin-bottom: 20px; /* Space below cards */
  height: 100%; /* Ensure all cards have equal height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack content vertically */
}

.card:hover {
  transform: translateY(-5px); /* Lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd; /* Light border */
}

.card-body {
  padding: 20px; /* Padding inside the card */
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Dark text color */
  margin-bottom: 10px; /* Space below title */
}

/* Hover effect for card title */
.card-title:hover {
  color: #4CAF50; /* Green color on hover */
}

/* Button styles */
.btn {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.btn:focus {
  outline: none; /* Remove focus outline */
}
